<h2 class="font-bold text-lg">
    Emergency Contacts
</h2>
<app-banner></app-banner>
<div class="flex justify-between items-center py-6">
    <h2 class="font-bold text-lg">
        Your Trusted Emergency Contacts
    </h2>
    <button type="button" class="flex items-center justify-center
               w-9 h-9 rounded-md
               border border-gray-200
               shadow-sm
               hover:bg-gray-50
               transition" (click)="openAddSheet()">
        <mat-icon>add</mat-icon>
    </button>
</div>

@if (loading) {
<div class="flex justify-center py-10">
    <mat-spinner diameter="32"></mat-spinner>
</div>
}

@else if (emergencyContacts.length === 0) {
<app-empty-message message="No emergency contacts found." [showButton]="true" buttonText="Add Emergency Contact"
    buttonIcon="add" (buttonClick)="openAddSheet()" />

}

@else {
<div class="grid grid-cols-1 lg:grid-cols-2 gap-3">
    @for (contact of emergencyContacts; track contact.ID) {
    <div class="rounded-xl border border-gray-200
                bg-white p-4 shadow-sm">

        <div class="flex items-start justify-between">
            <div>
                <h3 class="font-semibold text-gray-900">
                    {{ contact.FirstName }} {{ contact.LastName }} <span class="text-sm text-gray-500 mt-1">({{
                        contact.Relationship }})</span>
                </h3>
                <p class="text-sm text-gray-500 mt-1">
                    {{ contact.Phone }}
                </p>

            </div>
            <div class="flex gap-1">
                <button type="button" class="w-8 h-8 rounded-md cursor-pointer
                           hover:bg-gray-100" (click)="openEditSheet(contact)">
                    <mat-icon class="text-gray-600">
                        edit
                    </mat-icon>
                </button>
                <button type="button" class="w-8 h-8 rounded-md cursor-pointer
                           hover:bg-red-50" (click)="deleteEmergencyContact(contact)">
                    <mat-icon class="text-red-500">
                        delete
                    </mat-icon>
                </button>
            </div>
        </div>
    </div>
    }
</div>

}

<app-sheet [(open)]="isSheetOpen" side="right" width="500px" [title]="isEditMode
        ? 'Edit Emergency Contact'
        : 'Add Emergency Contact'" [description]="isEditMode
        ? 'Update emergency contact details.'
        : 'Add a new emergency contact.'">

    @if (isEditMode) {
    <edit-emergency-contact [selectedContact]="selectedContact" (saved)="contactSaved()">
    </edit-emergency-contact>
    }
    @else {
    <add-emergency-contact (saved)="contactSaved()"></add-emergency-contact>
    }

</app-sheet>