<mat-form-field
  appearance="outline"
  class="w-full min-w-[300px]"
>
  <mat-label>{{ placeholder }}</mat-label>

  <mat-select
    [(ngModel)]="selectedCountryCode"
    (ngModelChange)="onCountryChange($event)"
    [disabled]="disabled"
  >
    @for (country of countryList; track country.CountryID) {
      <mat-option [value]="country.CountryCode">
        +{{ country.CountryCode }}

        @if (selectedCountryCode !== country.CountryCode) {
          {{ country.CountryName }}
        }
      </mat-option>
    }
  </mat-select>
</mat-form-field>