<div class="vitals-history">
    <div class="history-header">
        <p class="created-by">
            Created By :
            <span>
                {{ vitalsHistory[0]?.CreatedBy }} <span class="created-date">( {{
                    formatDate(vitalsHistory[0]?.CreatedAt)
                    }})</span>
            </span>
        </p>
        <app-custom-calendar [selectedDate]="selectedDate"
            (dateSelected)="onDateSelected($event)"></app-custom-calendar>
    </div>
    <app-vital-card [recentVitals]="vitalsHistory[0]"></app-vital-card>
</div>