<div class="p-2 md:p-6 flex flex-col lg:flex-row justify-center items-center gap-6">
    <div class="space-y-4 mt-6 flex-1">
        <div>
            <h2 class="text-xl font-bold">
                How to take the perfect food photo
            </h2>
            <p class="text-gray-600 mt-2">
                Better photos mean more accurate nutritional analysis.
                Follow these simple tips to get the best results from PRx Food Scanner.
            </p>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-12">
            <div>
                <div class="flex gap-2 items-center">
                    <img src="assets/svg/do.svg" alt="Do" class="w-5 h-5" />

                    <p class="text-[#15803D] font-bold text-lg">
                        Do's
                    </p>
                </div>
                <ul
                    class="mt-3 list-disc list-inside marker:text-green-500 space-y-4 text-sm md:text-base text-gray-700">
                    <li>Use natural daylight when possible</li>
                    <li>Shoot from a top-down "flat lay" view</li>
                    <li>Ensure the plate is in clear focus</li>
                    <li>Keep individual ingredients visible</li>
                </ul>
            </div>

            <div>
                <div class="flex gap-2 items-center">
                    <img src="assets/svg/error.svg" alt="Don't" class="w-5 h-5" />

                    <p class="text-red-600 font-bold text-lg">
                        Don'ts
                    </p>
                </div>
                <ul class="mt-3 list-disc list-inside marker:text-red-500 text-sm md:text-base space-y-4 text-gray-700">
                    <li>Avoid blurry or shaky shots</li>
                    <li>Don't shoot in dark, moody rooms</li>
                    <li>Don't hide ingredients under others</li>
                    <li>Avoid extreme side-angle views</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="flex md:justify-end relative w-full lg:w-1/2 mt-2">
        <div class="relative w-full max-w-md md:max-w-lg lg:max-w-xl">
            <img src="/assets/burger.png" alt="Perfect food photo example"
                class="w-full h-auto object-contain rounded-xl" />
            <p class="absolute top-3 md:top-6 left-1/2 -translate-x-1/2
                bg-white/80 text-xs md:text-sm px-2 md:px-3 py-1
                rounded-md text-center w-[75%] md:w-[90%] lg:w-auto">
                Perfect example: Clear light, top-down, distinct ingredients.
            </p>
        </div>
    </div>
</div>