<div class="mt-4">
    <div class="relative bg-gradient-to-b from-[#def7fe] to-[#d5fde9] rounded-xl overflow-hidden">
        <div class="p-5 sm:p-6 flex justify-between items-center gap-4">
            <div class="max-w-[65%] sm:max-w-xl z-10">
                <img src="assets/message.png" alt="message" class="w-14 sm:w-16 md:w-20 h-auto object-contain mb-2">
                <p class="text-lg sm:text-xl md:text-2xl font-semibold">
                    Chat with HabitHero
                </p>
                <p class="text-sm sm:text-base text-gray-600 py-3">
                    Get instant, personalized wellness guidance anytime.
                    Ask about sleep, hydration, fitness routines, stress control,
                    or daily habit improvement.
                </p>
            </div>
            <div class="shrink-0">
                <img src="assets/bot.png" alt="bot" class="w-32 sm:w-40 md:w-52 lg:w-60 h-auto object-contain">
            </div>
        </div>
        <div class="px-5 sm:px-6 lg:hidden pb-6">
            <button type="button" (click)="openChat()"
                class="bg-gradient-to-r from-[#50E1FF] to-[#7DE4AE] w-full rounded-md px-4 py-2.5 font-medium text-gray-800">
                Start Chat
            </button>
        </div>
    </div>
</div>